body {
    background-color:rgb(107, 0, 128);
}
button.attribute-button {
    border: 4px solid rgb(219, 7, 124);
    background-color: rgb(233, 24, 205);
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    position: relative;
    display:inline-block;
    cursor: pointer;

    margin: 0 auto;
}
button.attribute-button:hover {
    border-color:  rgb(161, 8, 93);
    background-color: rgb(117, 14, 104);

}
button.attribute-button:active {
transform:scale(0.75);
}

div.attribute {
   width: 250px;
   height: 50px;
   border: 10px solid rgb(219, 7, 124);
   border-radius:25px;
   background: rgb(233, 24, 205);
   justify-content: center;
   align-items: center;
   text-transform: capitalize;
   position: relative;
   display: inline-flex;
   cursor: pointer;
}
div.attributer {
    width: 250px;
    height: 50px;
    border: 10px solid rgb(219, 7, 124);
    border-radius:25px;
    background: rgb(233, 24, 205);
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    position: relative;
    display: inline-flex;
}
div.totalbox {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
}
div.list {
    display: flex;  
  flex-wrap: nowrap;
}
/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background: rgb(233, 24, 205);
    border: 5px solid rgb(219, 7, 124);
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background: rgb(233, 24, 205);
    border: 3px solid rgb(219, 7, 124);
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    border-color:  rgb(161, 8, 93);
    background-color: rgb(117, 14, 104);

}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    width:100%;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
   border: 10px solid rgb(219, 7, 124);
   border-radius:25px;
   background: rgb(233, 24, 205);
   justify-content: center;
   align-items: center;
   text-transform: capitalize;
   position: relative;
   display: inline-flex;
}
/* Popup box BEGIN */